.tab {
  transition: all 0.1s;
  margin: 0 4px;
  border: 1px solid #008b4b;
  border-radius: 30px;
  padding: 6px 16px;
  color: #008b4b;
  &[data-active] {
    background-color: #008b4b;
    color: #f8c144;
  }
  &:hover {
    background-color: #008b4b;
    color: #f8c144;
  }
}
